<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.twitter.mapper.TwitterMapper">
    <!--  查询单条记录  -->
    <select id="getTwittersByUser" parameterType="com.hy.service.entity.User" resultType="com.hy.service.entity.Twitter">
        select id ,
        user_id as userId,
        content,
        create_time as createTime
        from twitter
        <where>
            <if test="userid != null">
                user_id = #{userid}
            </if>
        </where>
    </select>
    <insert id="insertTwitter" parameterType="com.hy.service.entity.Twitter">

    </insert>
</mapper>
